.cast__container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}
.cast__list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-left: -40px;
  gap: 20px;
  flex-wrap: wrap;
}
.cast__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
}
.cast__img {
  width: 150px;
  height: 200px;
}

.cast__info {
  height: 90px;
  width: 150px;
}

.cast__notFound {
  margin-top: 20px;
}
