.trendingMovies__container {
  display: flex;
  gap: 5px;
  padding-left: 20px;
  flex-direction: column;
  justify-content: flex-start;
}

.trendingMovies__header {
  padding: 0;
  font-size: 25px;
}
.trendingMovies__list {
  list-style-type: decimal;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trendingMovies__link {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.trendingMovies__link:hover {
  color: rgb(25, 51, 44);
}

.trendingMovies__link:visited {
  color: rgb(17, 136, 122);
}
.trendingMovies__link:active {
  color: rgb(75, 139, 115);
}
